
composer.phar
composer.lock
.env
.idea/
.DS_Store
Thumbs.db
!public/assets/js/_nav.js
!public/assets/js/_tabs.js
node_modules
bower_components
public/lib
public/assets/dist
public/assets/css
public/assets/js/app.js
public/upload/images/*
npm-debug.log
app/storage/docs/*
app/storage/sessions/*
app/storage/views/*
app/storage/logs/*
app/storage/meta/*
db/