@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
/* VARIABLES */
.dis-inline-block {
  display: inline-block; }

a {
  text-decoration: none;
  color: inherit; }

/*@mixin clearfix {
  clear: both;
}

.container {
  @include clearfix;
  margin: 0 20px;
}*/
body {
  font-family: 'Roboto', sans-serif;
  max-width: 100%;
  margin: 0 auto;
  min-width: 320px;
  position: relative;
  height: auto;
  font-size: 16px; }

.site-content {
  padding-top: 66px; }

.is-home header.header {
  position: fixed; }
.is-home footer.footer {
  background-color: rgba(77, 42, 5, 0.5); }

header.header {
  background-color: rgba(77, 42, 5, 0.85);
  position: static;
  left: 0;
  right: 0;
  color: #fff;
  padding: 10px 0;
  z-index: 3; }
  header.header nav.menu {
    float: left;
    padding-top: 40px; }
    header.header nav.menu ul {
      list-style: none;
      margin-bottom: 0; }
      header.header nav.menu ul li {
        display: inline-block;
        position: relative; }
        header.header nav.menu ul li a {
          color: #fff;
          font-size: 24px;
          font-family: 'Roboto', sans-serif;
          padding: 30px;
          text-decoration: none; }
          header.header nav.menu ul li a:hover, header.header nav.menu ul li a:focus, header.header nav.menu ul li a.active {
            color: #f5efad; }
        header.header nav.menu ul li:before {
          content: "-";
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%); }
        header.header nav.menu ul li:first-child a {
          padding-left: 0; }
        header.header nav.menu ul li:last-child:before {
          content: ''; }
        header.header nav.menu ul li:last-child a {
          padding-right: 0; }

footer.footer {
  background-color: #826243;
  padding: 70px 0;
  text-align: center;
  position: relative;
  overflow: hidden; }
  footer.footer:before {
    content: '';
    background-image: url("../images/bg-footer.png");
    background-position: bottom center;
    background-size: 100%;
    width: 2000px;
    height: 116px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    opacity: 0.8; }
  footer.footer p {
    margin-bottom: 15px;
    color: #fff; }

.banner-home-page {
  position: relative; }
  .banner-home-page .description-banner {
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 42px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    position: absolute;
    top: calc(50% + 110px);
    left: 50%;
    transform: translate(-50%, -60%);
    text-align: center;
    padding: 50px;
    color: #603400; }

.information-gkhome {
  margin-top: 50px; }
  .information-gkhome .title-company {
    color: #ffc600;
    font-size: 85px;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif; }
  .information-gkhome .box-infor-gkhome {
    margin-bottom: 70px; }
    .information-gkhome .box-infor-gkhome .title-current-infor {
      position: relative;
      height: 61px; }
      .information-gkhome .box-infor-gkhome .title-current-infor .line-current-title {
        width: 100%;
        height: 6px;
        border-top: 1px solid #5f3300;
        border-bottom: 1px solid #5f3300;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 1;
        transform: translateY(-50%); }
      .information-gkhome .box-infor-gkhome .title-current-infor .current-title {
        text-align: center;
        font-size: 56px;
        font-family: 'Roboto', sans-serif;
        color: #5f3300;
        padding: 0 35px;
        background-color: #fff;
        z-index: 2;
        width: 372px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin: 0; }
    .information-gkhome .box-infor-gkhome .content-current-infor {
      color: #626262;
      font-size: 18px;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      margin-top: 40px; }

.sample-design-gkhome {
  padding: 0;
  position: relative; }
  .sample-design-gkhome .title-sample-design-gkhome {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    color: #634417;
    text-align: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 6px 0;
    text-transform: uppercase; }

.sample-promotions-gkhome {
  padding: 0;
  position: relative; }
  .sample-promotions-gkhome .title-sample-promotions-gkhome {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #634417;
    text-align: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    height: 80px;
    line-height: 80px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 6px 0;
    text-transform: uppercase; }

.box-main-content {
  background-color: #aa9179;
  padding: 35px 15px 45px; }
  .box-main-content .main-about-us {
    background-color: #fff; }
    .box-main-content .main-about-us .title-about-us {
      padding: 20px 0 5px;
      margin: 0 15px;
      border-bottom: 2px solid #826243;
      font-size: 36px;
      font-family: 'Roboto', sans-serif;
      color: #aa9179;
      text-transform: uppercase;
      margin-bottom: 50px; }
    .box-main-content .main-about-us .content-about-us {
      padding-bottom: 50px; }
      .box-main-content .main-about-us .content-about-us h3 {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        color: #4d2310;
        font-size: 17px;
        margin-top: 30px;
        margin-bottom: 15px; }
        .box-main-content .main-about-us .content-about-us h3:first-child {
          margin-top: 0; }
      .box-main-content .main-about-us .content-about-us p {
        font-family: 'Roboto', sans-serif;
        color: #4d2310;
        margin-bottom: 15px;
        font-size: 17px; }

.main-apartment {
  padding: 25px 0; }
  .main-apartment .box-img-current-apartment {
    width: 100%;
    height: 350px;
    -webkit-transform: skew(-10deg);
    -moz-transform: skew(-10deg);
    -o-transform: skew(-10deg);
    transform: skew(-10deg);
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    position: relative;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%); }
    .main-apartment .box-img-current-apartment:hover {
      filter: none;
      -webkit-filter: none;
      -moz-filter: none;
      -ms-filter: none; }
      .main-apartment .box-img-current-apartment:hover .turn-image .title-img-apartment {
        height: auto;
        padding: 10px 0; }
    .main-apartment .box-img-current-apartment .turn-image {
      -webkit-transform: skew(10deg);
      -moz-transform: skew(10deg);
      -o-transform: skew(10deg);
      transform: skew(10deg);
      overflow: hidden;
      position: relative; }
      .main-apartment .box-img-current-apartment .turn-image .title-img-apartment {
        color: #826243;
        font-family: 'Roboto', sans-serif;
        width: 100%;
        text-align: center;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.7);
        font-size: 30px;
        text-transform: uppercase;
        height: 0;
        -webkit-transition: height 5s;
        /* Safari */
        transition: height 5s; }
  .main-apartment .description-apartment {
    background-color: #fff;
    padding: 20px 25px;
    color: #4d2310;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin-top: 25px; }

.main-content-apartment {
  padding: 40px 0; }
  .main-content-apartment .sub-menu-apartment {
    background-color: #f2efd3;
    padding: 20px 15px; }
    .main-content-apartment .sub-menu-apartment ul {
      list-style: none;
      padding-left: 0;
      margin-bottom: 35px; }
      .main-content-apartment .sub-menu-apartment ul li {
        list-style-type: none; }
        .main-content-apartment .sub-menu-apartment ul li span {
          display: block;
          color: #4d2310;
          font-size: 16px;
          font-weight: 700;
          text-transform: uppercase;
          font-family: 'Roboto', sans-serif; }
        .main-content-apartment .sub-menu-apartment ul li ul {
          padding-left: 35px; }
          .main-content-apartment .sub-menu-apartment ul li ul li {
            position: relative; }
            .main-content-apartment .sub-menu-apartment ul li ul li:before {
              content: "\f137";
              font-family: FontAwesome;
              color: #4d2310; }
            .main-content-apartment .sub-menu-apartment ul li ul li a {
              text-decoration: none;
              color: #4d2310;
              font-size: 16px;
              font-family: 'Roboto', sans-serif; }
            .main-content-apartment .sub-menu-apartment ul li ul li.active:before, .main-content-apartment .sub-menu-apartment ul li ul li:hover:before, .main-content-apartment .sub-menu-apartment ul li ul li:focus:before {
              content: "\f138";
              font-family: FontAwesome;
              color: #826243; }
            .main-content-apartment .sub-menu-apartment ul li ul li.active a, .main-content-apartment .sub-menu-apartment ul li ul li:hover a, .main-content-apartment .sub-menu-apartment ul li ul li:focus a {
              color: #826243;
              font-weight: 400; }
  .main-content-apartment .box-content-apartment-detail {
    background-color: #fff;
    padding: 20px 10px; }
    .main-content-apartment .box-content-apartment-detail .title-apartment-detail {
      border-bottom: 2px solid #826243;
      margin-bottom: 20px; }
      .main-content-apartment .box-content-apartment-detail .title-apartment-detail ul {
        list-style: none;
        padding: 0;
        margin-bottom: 15px; }
        .main-content-apartment .box-content-apartment-detail .title-apartment-detail ul li {
          display: inline-block;
          list-style-type: none;
          position: relative;
          padding-right: 20px; }
          .main-content-apartment .box-content-apartment-detail .title-apartment-detail ul li a {
            font-size: 36px;
            text-transform: uppercase;
            font-family: 'Roboto', sans-serif;
            text-decoration: none; }
          .main-content-apartment .box-content-apartment-detail .title-apartment-detail ul li:before {
            content: '/';
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            color: #aa9179;
            font-size: 36px; }
          .main-content-apartment .box-content-apartment-detail .title-apartment-detail ul li:first-child a {
            color: #aa9179;
            text-decoration: none; }
          .main-content-apartment .box-content-apartment-detail .title-apartment-detail ul li:last-child {
            padding-right: 0; }
            .main-content-apartment .box-content-apartment-detail .title-apartment-detail ul li:last-child:before {
              content: ''; }
            .main-content-apartment .box-content-apartment-detail .title-apartment-detail ul li:last-child a {
              color: #4d2310;
              text-decoration: none; }
    .main-content-apartment .box-content-apartment-detail .content-infor-apartment-detail p {
      color: #4d2310;
      font-size: 16px;
      font-family: 'Roboto', sans-serif; }
      .main-content-apartment .box-content-apartment-detail .content-infor-apartment-detail p strong {
        font-weight: 700; }
    .main-content-apartment .box-content-apartment-detail .content-infor-apartment-detail ul {
      padding-left: 0; }
      .main-content-apartment .box-content-apartment-detail .content-infor-apartment-detail ul li {
        list-style-type: none; }
      .main-content-apartment .box-content-apartment-detail .content-infor-apartment-detail ul.icon-check li {
        position: relative;
        color: #4d2310;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        padding-left: 20px; }
        .main-content-apartment .box-content-apartment-detail .content-infor-apartment-detail ul.icon-check li:before {
          content: "\f00c";
          font-family: FontAwesome;
          margin-right: 5px;
          position: absolute;
          top: 0;
          left: 0; }
      .main-content-apartment .box-content-apartment-detail .content-infor-apartment-detail ul.icon-tack li {
        position: relative;
        color: #4d2310;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        padding-left: 20px; }
        .main-content-apartment .box-content-apartment-detail .content-infor-apartment-detail ul.icon-tack li:before {
          content: "\f08d";
          font-family: FontAwesome;
          margin-right: 5px;
          position: absolute;
          top: 0;
          left: 0; }
    .main-content-apartment .box-content-apartment-detail .video-apartment-detail {
      padding: 25px 15px;
      text-align: center; }
    .main-content-apartment .box-content-apartment-detail .form-contact-rent-apartment .title-contact-rent-apartment {
      color: #826243;
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 20px; }
    .main-content-apartment .box-content-apartment-detail .form-contact-rent-apartment .form-rent-apartment p {
      font-size: 16px;
      color: #826243;
      font-family: 'Roboto', sans-serif; }
    .main-content-apartment .box-content-apartment-detail .form-contact-rent-apartment .form-rent-apartment label {
      color: #826243;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      font-weight: 700; }
    .main-content-apartment .box-content-apartment-detail .form-contact-rent-apartment .form-rent-apartment input, .main-content-apartment .box-content-apartment-detail .form-contact-rent-apartment .form-rent-apartment textarea {
      width: 100%; }
    .main-content-apartment .box-content-apartment-detail .form-contact-rent-apartment .form-rent-apartment .form-group {
      margin-bottom: 20px; }
    .main-content-apartment .box-content-apartment-detail .form-contact-rent-apartment .form-rent-apartment .btn.btn-reset, .main-content-apartment .box-content-apartment-detail .form-contact-rent-apartment .form-rent-apartment .btn.btn-send {
      color: #fff;
      text-transform: uppercase;
      font-size: 16px;
      font-family: 'Roboto', sans-serif;
      background-color: #aa9179;
      padding: 5px 10px;
      margin-left: 10px;
      background-image: none;
      border: none; }
      .main-content-apartment .box-content-apartment-detail .form-contact-rent-apartment .form-rent-apartment .btn.btn-reset:hover, .main-content-apartment .box-content-apartment-detail .form-contact-rent-apartment .form-rent-apartment .btn.btn-send:hover {
        background-color: #826243; }

.main-content-promotions {
  padding-bottom: 40px; }
  .main-content-promotions .paging {
    text-align: right;
    padding-right: 30px; }
    .main-content-promotions .paging a {
      color: #aa9179;
      padding: 0 10px;
      text-decoration: none; }
      .main-content-promotions .paging a:last-child {
        padding-right: 0; }
      .main-content-promotions .paging a:hover {
        color: #4d2310; }
  .main-content-promotions .content-promotions-detail {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 0 15px; }
    .main-content-promotions .content-promotions-detail h3 {
      color: #4d2310;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 700; }
  .main-content-promotions.box-related-news {
    margin-top: 30px;
    padding: 20px 15px; }
    .main-content-promotions.box-related-news .title-related-news {
      color: #4d2310;
      font-size: 17px;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 20px; }
    .main-content-promotions.box-related-news .title-promotions-related {
      line-height: 1;
      margin-top: 10px; }
      .main-content-promotions.box-related-news .title-promotions-related a {
        color: #4d2310;
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
        text-decoration: none; }
    .main-content-promotions.box-related-news .owl-carousel .owl-nav {
      position: relative;
      height: 45px; }
      .main-content-promotions.box-related-news .owl-carousel .owl-nav .owl-prev {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        text-transform: capitalize;
        padding-left: 20px;
        font-size: 16px;
        font-family: 'Roboto', sans-serif; }
        .main-content-promotions.box-related-news .owl-carousel .owl-nav .owl-prev:before {
          content: '<<';
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%); }
      .main-content-promotions.box-related-news .owl-carousel .owl-nav .owl-next {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        text-transform: capitalize;
        padding-right: 20px;
        font-size: 16px;
        font-family: 'Roboto', sans-serif; }
        .main-content-promotions.box-related-news .owl-carousel .owl-nav .owl-next:before {
          content: '>>';
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%); }

.infor-main-content p {
  color: #4d2310;
  font-size: 17px;
  font-family: 'Roboto', sans-serif; }
  .infor-main-content p strong {
    font-weight: 700; }
.infor-main-content .maps-company {
  margin: 30px 0; }

.form-contact .title-contact {
  color: #826243;
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-bottom: 15px; }
.form-contact .form-contact-us {
  font-size: 16px;
  color: #826243; }
  .form-contact .form-contact-us p {
    font-style: italic; }
  .form-contact .form-contact-us .form-group {
    position: relative; }
    .form-contact .form-contact-us .form-group .width-input-textarea {
      padding-left: 90px; }
    .form-contact .form-contact-us .form-group label {
      position: absolute;
      top: 0;
      left: 0; }
    .form-contact .form-contact-us .form-group textarea {
      width: 100%; }
  .form-contact .form-contact-us .btn.btn-reset, .form-contact .form-contact-us .btn.btn-send {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-color: #aa9179;
    padding: 5px 10px;
    margin-left: 10px;
    background-image: none;
    border: none; }
    .form-contact .form-contact-us .btn.btn-reset:hover, .form-contact .form-contact-us .btn.btn-send:hover {
      background-color: #826243; }

@media (max-width: 1199px) {
  header.header nav.menu ul li a {
    padding: 25px; }

  .banner-home-page .description-banner {
    transform: translate(-50%, -75%);
    width: 690px; } }
@media (max-width: 1023px) {
  .maps-company > iframe {
    width: 100% !important; } }
@media (max-width: 991px) {
  header.header nav.menu ul {
    padding-left: 0; }
    header.header nav.menu ul li a {
      padding: 10px 15px 10px 10px;
      font-size: 19px; }

  .banner-home-page .description-banner {
    width: 530px;
    font-size: 30px; }

  .sample-design-gkhome .title-sample-design-gkhome {
    font-size: 35px; }

  .information-gkhome .title-company {
    font-size: 60px; }

  .information-gkhome .box-infor-gkhome {
    margin-bottom: 30px; }
    .information-gkhome .box-infor-gkhome .title-current-infor .current-title {
      width: 286px;
      font-size: 40px; }
    .information-gkhome .box-infor-gkhome .content-current-infor {
      margin-top: 15px; }

  .main-apartment .box-img-current-apartment {
    height: 260px; }

  .form-contact {
    padding-left: 0;
    margin-bottom: 30px; } }
@media (max-width: 768px) {
  /*.site-pusher, .main-container {
    height: 100%;
  }*/
  .main-container {
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;
    transform: translateX(0px); }

  .site-content {
    position: absolute;
    top: 66px;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; }

  .menu-icon {
    position: relative;
    display: block;
    float: left;
    width: 50px;
    height: 66px;
    cursor: pointer;
    z-index: 999; }
    .menu-icon:after {
      content: '';
      position: absolute;
      display: block;
      width: 25px;
      height: 0;
      top: 16px;
      left: 15px;
      box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff; }
    .menu-icon:hover:after {
      box-shadow: 0 10px 0 1px #f5efad, 0 16px 0 1px #f5efad, 0 22px 0 1px #f5efad; }

  header.header {
    position: relative;
    height: 90px; }
    header.header .logo {
      text-align: right; }
      header.header .logo img {
        width: 107px; }
    header.header .menu-website {
      padding-left: 0; }
    header.header nav.menu {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      background-color: #a69482;
      width: 320px;
      height: 600px;
      transform: translateX(-320px);
      margin-top: -90px; }
      header.header nav.menu ul {
        padding-top: 0;
        padding-left: 0; }
        header.header nav.menu ul li {
          width: 100%;
          display: block;
          height: 55px;
          border-top: 1px solid #fff;
          border-bottom: 1px solid #603400; }
          header.header nav.menu ul li a {
            padding: 9px 20px 0;
            display: block; }
          header.header nav.menu ul li:first-child {
            border-top: none; }
            header.header nav.menu ul li:first-child a {
              padding: 9px 20px 0;
              display: block; }
          header.header nav.menu ul li:last-child {
            border-bottom: none; }
          header.header nav.menu ul li:before {
            content: ''; }

  .with--sidebar .main-container {
    transform: translateX(320px); }
  .with--sidebar .site-cache {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); }

  .banner-home-page .description-banner {
    top: 50%;
    transform: translate(-50%, -50%); }

  .sample-promotions-gkhome, .sample-design-gkhome {
    margin-bottom: 30px; }

  .information-gkhome {
    margin-top: 25px; }

  .information-gkhome .title-company {
    margin-top: 0; }

  .box-main-content .main-about-us .content-about-us h3:first-child {
    margin-top: 30px; }

  .main-apartment .box-img-current-apartment {
    -webkit-transform: skew(0deg);
    -moz-transform: skew(0deg);
    -o-transform: skew(0deg);
    transform: skew(0deg);
    background-color: transparent;
    margin-bottom: 30px;
    height: auto; }
    .main-apartment .box-img-current-apartment .turn-image {
      -webkit-transform: skew(0deg);
      -moz-transform: skew(0deg);
      -o-transform: skew(0deg);
      transform: skew(0deg); }

  .main-content-apartment .sub-menu-apartment {
    padding: 0;
    margin-bottom: 20px; }
    .main-content-apartment .sub-menu-apartment .menu-mobile-active {
      text-transform: uppercase;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      text-align: center;
      position: relative;
      font-weight: 700;
      padding: 5px 0;
      cursor: pointer; }
      .main-content-apartment .sub-menu-apartment .menu-mobile-active:before {
        content: "\f0d8";
        font-family: FontAwesome;
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%); }
    .main-content-apartment .sub-menu-apartment ul {
      display: none; }
    .main-content-apartment .sub-menu-apartment.menu-active {
      padding: 0 15px 20px; }
      .main-content-apartment .sub-menu-apartment.menu-active .menu-mobile-active {
        border-bottom: 1px solid #4d2310; }
        .main-content-apartment .sub-menu-apartment.menu-active .menu-mobile-active:before {
          content: "\f0d7"; }
      .main-content-apartment .sub-menu-apartment.menu-active ul {
        display: block;
        padding-top: 20px; }

  .main-content-promotions .current-promotions {
    margin-bottom: 25px; }
    .main-content-promotions .current-promotions .text-right {
      text-align: center; } }

/*# sourceMappingURL=style.css.map */
